.animatedBackground {
	background: rgb(167, 31, 19);
	background: linear-gradient(
		227deg,
		rgba(167, 31, 19, 1) 0%,
		rgba(167, 56, 45, 1) 0%,
		rgba(223, 164, 149, 1) 16%,
		rgba(226, 176, 162, 1) 26%,
		rgba(226, 177, 163, 1) 39%,
		rgba(229, 188, 175, 1) 49%,
		rgba(232, 200, 188, 1) 54%,
		rgba(235, 210, 200, 1) 61%,
		rgba(235, 210, 200, 1) 67%,
		rgba(240, 227, 218, 1) 81%,
		rgba(243, 236, 228, 1) 89%
	);
	background-size: 400% 400%;
	width: 100vw;
	height: 200vh;
	position: relative;
	animation: animate 12s ease-in-out infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes animate {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
